// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.toolbox {
    margin-bottom: 20px;
    text-align: right;
}

.border-gray {
    border-color: gray;
}
