body,
html {
  border: solid 1px;
}

#banner {
  width: 100%;
}

.white-bg {
  background: #ffffff;
}

.gray-bg {
  background: #fcfcfc;
}

.blue-bg {
  background: #E4D9FF;
}

.darkblue-bg {
  background: #0E3B43;
}

.shop-area {
  padding: 100px 0px;
}

.exclusive-item-thumb {
  position: relative;
  margin-bottom: 25px;
}

.exclusive-item-thumb a img {
  border: 2px solid #888;
  border-radius: 4px;
}

.exclusive-item-content {
  margin-bottom: 100px;
}

.side-menu {
  width: 90%;
  height: 100%;
  background-color: #fff;
  /* border: 1px solid #e7e7e7; */
}

.shop-widget {
  background: #fff;
  box-shadow: 0 1px 16px 0 rgba(117, 114, 114, 0.07);
  padding: 45px 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

